<div {{ attributes.defaults({ class: 'w-full  justify-center items-center  bg-white dark:bg-clear text-black border border-black/10 p-8 border-4 rounded-xl border-dark dark:border-clear' }) }}>
    {% block content %} {% endblock %}
</div>
