{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}
    <div class="w-full grid md:grid-cols-3  gap-8 my-8">
        <twig:Cards:Info class="md:col-span-2 !p-0">
            <img src="{{ asset('images/dalle_exemples_01') }}" class="rounded-lg" alt="">
        </twig:Cards:Info>
        <twig:Cards:Info class="font-black">
            <h1>Voici quelques réalisations</h1>
            <p>Anciens travaux d'écoles, essais, POC ou demos.  N'hésitez pas à visiter mon <a href="https://github.com/jphNovitz" title="https://github.com/jphNovitz">Github</a></p>
        </twig:Cards:Info>
    </div>
    <div class="w-full grid md:grid-cols-3 gap-8 my-32 md:my-12 ">
        {% for category in  categories.getAll() %}
            <twig:Cards:Category :name="category.name"/>
            {% for site in category.sites %}
                <div>
                    <twig:Cards:Site :site="site" :category="category.name"/>

                </div>
            {% else %}
                no sites
            {% endfor %}
            {#        </div> #}
        {% endfor %}
    </div>
{% endblock %}
