{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}


{% block body %}
    <div class="my-16 p-16 space-y-8 m-auto w-ful md:max-w-96 bg-gray-200 border border-blue-900">
        <h1>{% trans %}title.login{% endtrans %}</h1>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('app_login') }}" method="post" class="flex flex-col  space-y-8">

            {#            <div class="w-full flex justify-between"> #}
            <label for="email">{% trans %}form.email{% endtrans %}:</label>
            <input type="text" id="email" name="_username" value="{{ email }}" class="text-black p-2">
            {#            </div> #}

            <label for="password">{% trans %}form.password{% endtrans %}:</label>
            <input type="password" id="password" name="_password" class="text-black p-2">

            {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"> #}

            <button type="submit" class="bg-blue-600 text-blue-50 py-2 my-4">
                {% trans %}button.login{% endtrans %}
            </button>
        </form>

    </div>
{% endblock %}