<!DOCTYPE html>
<html lang="fr_BE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio Développeur Web : Projets, Démonstrations et POC, jphNovitz Développeur Web à Liège |[exempl.es]{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}Explorez mes sites web, démonstrations, POC et essais, illustrant mon parcours académique et professionnel en développement web.{% endblock %}">
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{% block og_title %}Réalisations en Développement Web : Sites, Démos et POC jphNovitz, Developpeur web à Liège{% endblock %}">
    <meta property="og:description" content="{% block og_description %}Découvrez mon parcours académique et professionnel à travers mes sites web, démonstrations, POC et essais, mettant en avant mes compétences et mon évolution en développement web.{% endblock %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:image" content="{% block og_image %} {{ asset('images/dalle_exemples_01')}} {% endblock %}">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">

    {% endblock %}

    {% block javascripts %}
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}
    {% endblock %}
</head>
<body class="w-full h-full min-h-screen  p-4 bg-clear text:black dark:bg-black dark:text-white">
<div class="w-full max-w-7xl m-auto">
    {% block body %}{% endblock %}
</div>
</body>
</html>
